.button{

    margin-top: 10px;
}
.label{
    margin-bottom: 7px;
}
.controls{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    width: 50%;
    margin-left: 30%;
    margin-top: 30px;
    
    
}

