       
            <div class="controls">
                <h2> Add/Edit Tournament </h2>
              <label class="label">Tournament Name</label>
              <input              
                type="text"              
                class="form-control"                
                [(ngModel)]="comingTournament"
              />
              <div class="button">
                <button type="submit" mat-flat-button color="primary" class="btn btn-primary" (click)="save()" style="width: 80px; margin-right: 5px;">Save</button>
                <button mat-flat-button color="primary" class="btn btn-primary" (click)="cancel()" style="width: 80px;">Cancel</button>
              </div> 
            </div>
      
      
    
    
    
    