.table {
    margin-right: 70px;   
}

.container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-items: center;
    align-self: center;
    position:absolute;  
    left: 40%;
    top: 50%;    
    transform: translate(-50%, -50%);
}

.participant {
    margin-left: 70px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    display: flex;
     
 }
 .button{

    margin-top: 10px;
    flex-direction: row;

}