.menuList {
   display: flex;
   align-content: center;
   flex-direction: column;
   align-items: center;     
   
    
  }

  .router {
   
   display: flex;
   align-content: center;
   flex-direction: column;
   align-items: center;     
  
   
   
  }
  .home {
   
   display: flex;
   align-content: center;
   flex-direction: column;
  
   
   
  }