.table {
    margin-right: 70px;   
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: center;
    align-self: center;
    position:absolute;  
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50%);
}

 .button{

    margin-top: 10px;
    flex-direction: row;

}
.filter{

    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
   

}